In [1]:
import sqlite3, pandas
cnx = sqlite3.connect('data/QAT.db')

Question = pandas.read_sql('select * from Question', cnx)
Answer = pandas.read_sql('select * from Answer', cnx)
Tag = pandas.read_sql('select * from Tag', cnx)

# Answer.to_sql(name='Answer',con=cnx)

In [2]:
Question.columns

Index(['index', 'Id', 'OwnerUserId', 'CreationDate', 'Score', 'Body_count',
       'Title_count'],
      dtype='object')

In [3]:
Question[90000:90010]

,index,Id,OwnerUserId,CreationDate,Score,Body_count,Title_count
90000,90000,3835460,450062.0,2010-09-30T23:14:09Z,0,569,11
90001,90001,3835480,327402.0,2010-09-30T23:19:20Z,6,204,11
90002,90002,3835560,463383.0,2010-09-30T23:37:03Z,5,27,9
90003,90003,3835580,144773.0,2010-09-30T23:41:49Z,1,247,7
90004,90004,3835610,202309.0,2010-09-30T23:49:32Z,3,57,5
90005,90005,3835750,463406.0,2010-10-01T00:32:14Z,0,42,9
90006,90006,3835820,463422.0,2010-10-01T00:50:31Z,0,121,12
90007,90007,3835830,252253.0,2010-10-01T00:53:26Z,7,204,7
90008,90008,3835850,66105.0,2010-10-01T00:59:27Z,0,138,4
90009,90009,3835890,220413.0,2010-10-01T01:09:46Z,0,184,3

In [4]:
Answer[:10]

   index   Id  OwnerUserId          CreationDate  ParentId  Score  Body_count
0      0   92         61.0  2008-08-01T14:45:37Z        90     13          18
1      1  124         26.0  2008-08-01T16:09:47Z        80     12          59
2      2  199         50.0  2008-08-01T19:36:46Z       180      1         279
3      3  269         91.0  2008-08-01T23:49:57Z       260      4         159
4      4  307         49.0  2008-08-02T01:49:46Z       260     28         137
5      5  332         59.0  2008-08-02T03:00:24Z       330     19         131
6      6  344        100.0  2008-08-02T04:18:15Z       260      6          73
7      7  359        119.0  2008-08-02T06:16:23Z       260      5          63
8      8  473         49.0  2008-08-02T15:33:13Z       470      8         108
9      9  529         86.0  2008-08-02T18:16:07Z       180      3          52

In [5]:
Answer[Answer.eq(3835777).any(1)]

,index,Id,OwnerUserId,CreationDate,ParentId,Score,Body_count
223454,223454,3835777,115145.0,2010-10-01T00:40:19Z,3835480,7,25

In [7]:
# clean redundency
count = 0
del_arr = []
for idx, row_data in Question[:].iterrows():
    #print(row_data)
    if(row_data['Id'] not in Answer['ParentId']):
        del_arr.append(idx)
        '''if(row_data['ParentId'] in Answer['Id']):
            print('subAnswer')'''
        count+=1

Question_trimmed = Question.drop(del_arr)

import sqlite3, pandas
cnx = sqlite3.connect('data/QAT_trimed.db')
Question_trimmed.to_sql(name='Question_trimmed',con=cnx)

count

1223263

In [8]:
len(Question_trimmed)

40953

In [9]:
count = 0
for idx, row_data in Answer[:].iterrows():
    #print(row_data)
    if(row_data['ParentId'] not in Question['Id'] or row_data['ParentId'] not in Answer['Id']):
        del_arr.append(idx)
        '''if(row_data['ParentId'] in Answer['Id']):
            print('subAnswer')'''
        count+=1
count

1921260

In [10]:
len(Answer)

2014516

In [12]:
# code works
for idx, row_data in Answer[:].iterrows():
    #print(row_data)
    if(row_data['ParentId'] in Answer['Id']):
        print('yes')
        break

yes

0

In [13]:
count = 0
for idx, row_data in Answer[:].iterrows():
    #print(row_data)
    if(row_data['ParentId'] not in Question['Id'] or row_data['ParentId'] not in Answer['Id']):
        del_arr.append(idx) 
        count+=1
Answer_trimmed = Answer.drop(del_arr)

import sqlite3, pandas
cnx = sqlite3.connect('data/QAT_trimed.db')
Answer_trimmed.to_sql(name='Answer_trimmed',con=cnx)

count

1921260

In [14]:
len(Answer_trimmed)

44746

In [15]:
Answer_trimmed

,index,Id,OwnerUserId,CreationDate,ParentId,Score,Body_count
0,0,92,61.0,2008-08-01T14:45:37Z,90,13,18
1,1,124,26.0,2008-08-01T16:09:47Z,80,12,59
2,2,199,50.0,2008-08-01T19:36:46Z,180,1,279
3,3,269,91.0,2008-08-01T23:49:57Z,260,4,159
4,4,307,49.0,2008-08-02T01:49:46Z,260,28,137
5,5,332,59.0,2008-08-02T03:00:24Z,330,19,131
6,6,344,100.0,2008-08-02T04:18:15Z,260,6,73
7,7,359,119.0,2008-08-02T06:16:23Z,260,5,63
8,8,473,49.0,2008-08-02T15:33:13Z,470,8,108
9,9,529,86.0,2008-08-02T18:16:07Z,180,3,52
10,10,539,157.0,2008-08-02T19:03:52Z,180,21,190
11,11,585,149.0,2008-08-02T23:40:04Z,580,13,76
12,12,586,34.0,2008-08-02T23:51:09Z,580,17,95
13,13,590,116.0,2008-08-03T00:22:03Z,580,2,52
14,14,591,111.0,2008-08-03T00:37:03Z,580,3,295
15,15,597,76.0,2008-08-03T01:38:02Z,580,1,60
16,16,655,91.0,2008-08-03T11:41:38Z,650,69,172
17,17,787,175.0,2008-08-03T18:46:33Z,650,4,54
18,18,818,233.0,2008-08-03T20:45:27Z,810,0,53
19,19,820,91.0,2008-08-03T20:48:47Z,810,3,148
20,20,829,234.0,2008-08-03T21:17:33Z,810,4,184
21,21,870,233.0,2008-08-03T22:34:06Z,810,0,85
22,22,940,243.0,2008-08-04T01:07:14Z,930,15,100
23,23,951,49.0,2008-08-04T01:31:31Z,930,26,164
24,24,1022,93.0,2008-08-04T04:45:05Z,930,9,62
25,25,1043,55.0,2008-08-04T05:59:53Z,1040,2,164
26,26,1044,227.0,2008-08-04T06:01:52Z,1040,32,59
27,27,1049,234.0,2008-08-04T06:12:11Z,1040,5,137
28,28,1050,234.0,2008-08-04T06:14:42Z,1040,1,73
29,29,1051,NaN,2008-08-04T06:15:30Z,1040,11,174
...,...,...,...,...,...,...,...
2008481,2008481,40015112,6892742.0,2016-10-13T07:44:42Z,779370,1,55
2008696,2008696,40019917,1766100.0,2016-10-13T11:38:09Z,557340,0,11
2008838,2008838,40022733,247441.0,2016-10-13T13:43:00Z,253030,0,175
2009216,2009216,40030467,234.0,2016-10-13T20:33:42Z,527610,0,26
2009483,2009483,40036138,6935554.0,2016-10-14T06:13:00Z,558360,0,48
2009672,2009672,40040733,1488067.0,2016-10-14T10:18:01Z,160930,2,1074
2009828,2009828,40043840,1367450.0,2016-10-14T13:00:55Z,940930,0,52
2010103,2010103,40049367,7020693.0,2016-10-14T17:58:48Z,98310,1,64
2010713,2010713,40062403,337128.0,2016-10-15T17:58:14Z,894860,0,427
2011008,2011008,40068500,2400485.0,2016-10-16T08:43:36Z,40480,0,245
2011017,2011017,40068623,216812.0,2016-10-16T09:01:39Z,751850,0,61
2011062,2011062,40070188,6806960.0,2016-10-16T12:21:30Z,1120140,0,197
2011128,2011128,40071790,6779095.0,2016-10-16T15:07:49Z,352670,0,107
2011206,2011206,40073806,7027695.0,2016-10-16T18:21:00Z,194930,-2,38
2011485,2011485,40079659,6512693.0,2016-10-17T06:19:44Z,1248510,0,790
2011552,2011552,40081126,1561433.0,2016-10-17T07:54:46Z,882070,0,17
2011582,2011582,40081957,1934469.0,2016-10-17T08:44:33Z,792460,0,454
2012554,2012554,40103004,1402759.0,2016-10-18T08:15:52Z,293800,0,45
2013147,2013147,40114596,6460524.0,2016-10-18T17:34:27Z,3400,0,53
2013197,2013197,40115574,2440976.0,2016-10-18T18:32:53Z,1227130,0,86
2013211,2013211,40116002,3631402.0,2016-10-18T18:58:58Z,519520,0,33
2013213,2013213,40116016,3418445.0,2016-10-18T19:00:00Z,517970,0,24
2013217,2013217,40116095,868941.0,2016-10-18T19:03:53Z,477550,0,88
2013240,2013240,40116645,2061991.0,2016-10-18T19:36:33Z,1154410,1,275
2013346,2013346,40118371,7038953.0,2016-10-18T21:26:53Z,139180,-1,18
2013745,2013745,40126988,524743.0,2016-10-19T09:11:43Z,641420,0,696
2013909,2013909,40131005,870949.0,2016-10-19T12:07:22Z,518000,-1,159
2013930,2013930,40131354,5756850.0,2016-10-19T12:25:28Z,376090,0,602
2014208,2014208,40137049,9034.0,2016-10-19T16:36:15Z,444820,0,59
2014227,2014227,40137579,408098.0,2016-10-19T17:07:19Z,1091740,0,310