In [1]:
import sqlite3, pandas, dask.dataframe as dd 

## Load data
rawAnswer = pandas.read_csv("data/Answers.csv", encoding="latin1")
rawQuestions = pandas.read_csv("data/Questions.csv",encoding="latin1")
rawTags = pandas.read_csv("data/Tags.csv", encoding="latin1")
print("load data")

load data

In [2]:
Ques = rawQuestions.sample(100)
Ques.to_csv('Questions_100_sample.csv')

In [3]:
Ques

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
523064,18165270,1375068.0,2013-08-10T18:49:10Z,NaN,2,Enum property in parent class should change in...,<p>If I have in my Parent class property Condi...
6596,450630,379.0,2009-01-16T14:57:48Z,NaN,0,Visual C++ 2005 hangs during qt builds,"<p>At my shop, the main product app is a mongr..."
1153885,37279810,2092927.0,2016-05-17T15:03:16Z,NaN,1,Phinx migrations - explicit length of integer ...,<p>Can you tell me please if is possible to se...
1083874,35395440,4305114.0,2016-02-14T18:26:42Z,NaN,0,Is object-oriented programming in Matlab suite...,<p>I have been reading about the benefits of o...
1039984,34189440,5659817.0,2015-12-09T21:35:27Z,NaN,0,IMFSinkWriterCallback Never happens,<p>I'm trying to get my IMFSinkWriter's Finali...
...,...,...,...,...,...,...,...
10783,676940,81947.0,2009-03-24T11:09:23Z,NaN,1,"XmlDocument, XmlResolver and www.w3.org",<p>One of my users had a single error while op...
172918,6708920,604843.0,2011-07-15T14:51:14Z,NaN,1,"Javascript, Chrome Extension development, XMLH...",<p>Am having a slightly confusing problem with...
564680,19525370,2051060.0,2013-10-22T18:17:04Z,NaN,1,AS3: calling functions in sequence without cre...,<p>Let's say I have a series of animations tha...
169007,6576260,525445.0,2011-07-04T21:35:50Z,NaN,4,PHP - bind_result to array,<p>I'm using a prepared statement for a query ...
65690,2960720,48310.0,2010-06-02T18:59:46Z,NaN,1,2d Game graphics/sprites - landscape vs portra...,<p>I am working on a simple iPad game and wond...

In [4]:
Ans = []
for idx, question in Ques.iterrows():
    Ans.append(rawAnswer[rawAnswer['ParentId'] == question['Id']])
Ans = pandas.concat(Ans)
Ans.to_csv('Answers_100_sample.csv')

In [5]:
Ans

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
982783,18165297,1145666.0,2013-08-10T18:52:13Z,18165270,0,"<ol>\n<li>That's not a parent class, but an in..."
982784,18165304,811785.0,2013-08-10T18:52:35Z,18165270,2,"<p>Since <a href=""http://stackoverflow.com/que..."
982785,18165306,22656.0,2013-08-10T18:52:46Z,18165270,5,<p>You could make your interface generic:</p>\...
24513,450785,23713.0,2009-01-16T15:39:03Z,450630,0,"<p>In my experience, some of these tools are c..."
1914581,37964197,1322150.0,2016-06-22T09:40:57Z,37279810,0,"<p>As I understood <a href=""http://docs.phinx...."
...,...,...,...,...,...,...
1049662,19527286,749657.0,2013-10-22T20:06:23Z,19525370,0,<p>How about you return something instead so ...
1049805,19530289,1298129.0,2013-10-22T23:46:19Z,19525370,2,<p>Using events is a better way to deal with s...
378270,6576673,114770.0,2011-07-04T22:54:02Z,6576260,3,"<p>I can't take credit for it, but the <a href..."
431122,7528848,886555.0,2011-09-23T12:21:33Z,6576260,-1,<p>I really don't see the point of putting you...
174526,2976637,47493.0,2010-06-04T18:11:36Z,2960720,1,<p>The best answer is that it really depends o...

In [6]:
Tag = []
for idx, question in Ques.iterrows():
    Tag.append(rawTags[rawTags['Id'] == question['Id']])
Tag = pandas.concat(Tag)
Tag.to_csv('Tags_100_sample.csv')

In [7]:
Tag

               Id                 Tag
1526340  18165270                  c#
1526341  18165270                .net
19138      450630                 c++
19139      450630                  qt
19140      450630     sql-server-2005
...           ...                 ...
485974    6576260                 php
485975    6576260               mysql
485976    6576260  prepared-statement
188516    2960720              iphone
188517    2960720            graphics

[285 rows x 2 columns]

In [8]:
rawAnswer = pandas.read_csv("Answers_100_sample.csv")
rawQuestions = pandas.read_csv("Questions_100_sample.csv")
rawTags = pandas.read_csv("Tags_100_sample.csv")

In [9]:
rawAnswer

,Unnamed: 0,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,982783,18165297,1145666.0,2013-08-10T18:52:13Z,18165270,0,"<ol>\n<li>That's not a parent class, but an in..."
1,982784,18165304,811785.0,2013-08-10T18:52:35Z,18165270,2,"<p>Since <a href=""http://stackoverflow.com/que..."
2,982785,18165306,22656.0,2013-08-10T18:52:46Z,18165270,5,<p>You could make your interface generic:</p>\...
3,24513,450785,23713.0,2009-01-16T15:39:03Z,450630,0,"<p>In my experience, some of these tools are c..."
4,1914581,37964197,1322150.0,2016-06-22T09:40:57Z,37279810,0,"<p>As I understood <a href=""http://docs.phinx...."
...,...,...,...,...,...,...,...
154,1049662,19527286,749657.0,2013-10-22T20:06:23Z,19525370,0,<p>How about you return something instead so ...
155,1049805,19530289,1298129.0,2013-10-22T23:46:19Z,19525370,2,<p>Using events is a better way to deal with s...
156,378270,6576673,114770.0,2011-07-04T22:54:02Z,6576260,3,"<p>I can't take credit for it, but the <a href..."
157,431122,7528848,886555.0,2011-09-23T12:21:33Z,6576260,-1,<p>I really don't see the point of putting you...
158,174526,2976637,47493.0,2010-06-04T18:11:36Z,2960720,1,<p>The best answer is that it really depends o...

In [10]:
rawQuestions

,Unnamed: 0,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,523064,18165270,1375068.0,2013-08-10T18:49:10Z,NaN,2,Enum property in parent class should change in...,<p>If I have in my Parent class property Condi...
1,6596,450630,379.0,2009-01-16T14:57:48Z,NaN,0,Visual C++ 2005 hangs during qt builds,"<p>At my shop, the main product app is a mongr..."
2,1153885,37279810,2092927.0,2016-05-17T15:03:16Z,NaN,1,Phinx migrations - explicit length of integer ...,<p>Can you tell me please if is possible to se...
3,1083874,35395440,4305114.0,2016-02-14T18:26:42Z,NaN,0,Is object-oriented programming in Matlab suite...,<p>I have been reading about the benefits of o...
4,1039984,34189440,5659817.0,2015-12-09T21:35:27Z,NaN,0,IMFSinkWriterCallback Never happens,<p>I'm trying to get my IMFSinkWriter's Finali...
...,...,...,...,...,...,...,...,...
95,10783,676940,81947.0,2009-03-24T11:09:23Z,NaN,1,"XmlDocument, XmlResolver and www.w3.org",<p>One of my users had a single error while op...
96,172918,6708920,604843.0,2011-07-15T14:51:14Z,NaN,1,"Javascript, Chrome Extension development, XMLH...",<p>Am having a slightly confusing problem with...
97,564680,19525370,2051060.0,2013-10-22T18:17:04Z,NaN,1,AS3: calling functions in sequence without cre...,<p>Let's say I have a series of animations tha...
98,169007,6576260,525445.0,2011-07-04T21:35:50Z,NaN,4,PHP - bind_result to array,<p>I'm using a prepared statement for a query ...
99,65690,2960720,48310.0,2010-06-02T18:59:46Z,NaN,1,2d Game graphics/sprites - landscape vs portra...,<p>I am working on a simple iPad game and wond...

In [11]:
rawTags

     Unnamed: 0        Id                 Tag
0       1526340  18165270                  c#
1       1526341  18165270                .net
2         19138    450630                 c++
3         19139    450630                  qt
4         19140    450630     sql-server-2005
..          ...       ...                 ...
280      485974   6576260                 php
281      485975   6576260               mysql
282      485976   6576260  prepared-statement
283      188516   2960720              iphone
284      188517   2960720            graphics

[285 rows x 3 columns]